In [0]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [0]:
import keras
import tensorflow as tf
from tensorflow.python.keras import Sequential
from tensorflow.python.keras.layers import Dense

In [0]:
df=pd.read_csv('/content/drive/My Drive/Colab Notebooks/BankCustomers.csv')

In [52]:
df.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [53]:
df.shape

(10000, 14)

### EDA and Feature Engineering

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           10000 non-null  int64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [55]:
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [0]:
# Droping Columns which are not necessary
df.drop(['RowNumber','Surname','CustomerId'],axis=1,inplace=True)

In [57]:
df.head()

   CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0          619    France  Female  ...               1        101348.88       1
1          608     Spain  Female  ...               1        112542.58       0
2          502    France  Female  ...               0        113931.57       1
3          699    France  Female  ...               0         93826.63       0
4          850     Spain  Female  ...               1         79084.10       0

[5 rows x 11 columns]

In [58]:
df['Geography'].value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [59]:
df['Gender'].value_counts()

Male      5457
Female    4543
Name: Gender, dtype: int64

In [60]:
df.groupby('Gender')['Exited'].value_counts()

Gender  Exited
Female  0         3404
        1         1139
Male    0         4559
        1          898
Name: Exited, dtype: int64

In [61]:
df.groupby('Geography')['Exited'].value_counts()

Geography  Exited
France     0         4204
           1          810
Germany    0         1695
           1          814
Spain      0         2064
           1          413
Name: Exited, dtype: int64

In [62]:
df['Exited'].value_counts()

0    7963
1    2037
Name: Exited, dtype: int64

### Feature Encoding

In [63]:
gender=pd.get_dummies(df['Gender'])
gender

      Female  Male
0          1     0
1          1     0
2          1     0
3          1     0
4          1     0
...      ...   ...
9995       0     1
9996       0     1
9997       1     0
9998       0     1
9999       1     0

[10000 rows x 2 columns]

In [64]:
location=pd.get_dummies(df['Geography'])
location

      France  Germany  Spain
0          1        0      0
1          0        0      1
2          1        0      0
3          1        0      0
4          0        0      1
...      ...      ...    ...
9995       1        0      0
9996       1        0      0
9997       1        0      0
9998       0        1      0
9999       1        0      0

[10000 rows x 3 columns]

### Merging data frames and droping columns

In [0]:
col=[df,gender,location]

In [66]:
df=pd.concat(col,axis=1)
df.head()

   CreditScore Geography  Gender  Age  ...  Male  France  Germany  Spain
0          619    France  Female   42  ...     0       1        0      0
1          608     Spain  Female   41  ...     0       0        0      1
2          502    France  Female   42  ...     0       1        0      0
3          699    France  Female   39  ...     0       1        0      0
4          850     Spain  Female   43  ...     0       0        0      1

[5 rows x 16 columns]

In [0]:
df.drop(['Geography','Gender'],axis=1,inplace=True)

In [68]:
df.head()

   CreditScore  Age  Tenure    Balance  ...  Male  France  Germany  Spain
0          619   42       2       0.00  ...     0       1        0      0
1          608   41       1   83807.86  ...     0       0        0      1
2          502   42       8  159660.80  ...     0       1        0      0
3          699   39       1       0.00  ...     0       1        0      0
4          850   43       2  125510.82  ...     0       0        0      1

[5 rows x 14 columns]

In [0]:
from sklearn.preprocessing import StandardScaler

In [0]:
sc=StandardScaler()

In [0]:
cols=['CreditScore','Age','Balance','EstimatedSalary']

In [0]:
df[cols]=sc.fit_transform(df[cols])

In [73]:
df.head()

   CreditScore       Age  Tenure   Balance  ...  Male  France  Germany  Spain
0    -0.326221  0.293517       2 -1.225848  ...     0       1        0      0
1    -0.440036  0.198164       1  0.117350  ...     0       0        0      1
2    -1.536794  0.293517       8  1.333053  ...     0       1        0      0
3     0.501521  0.007457       1 -1.225848  ...     0       1        0      0
4     2.063884  0.388871       2  0.785728  ...     0       0        0      1

[5 rows x 14 columns]

In [74]:
df.shape

(10000, 14)

In [0]:
from sklearn.model_selection import train_test_split

In [76]:
x=df.drop('Exited',axis=1)
x

      CreditScore       Age  Tenure   Balance  ...  Male  France  Germany  Spain
0       -0.326221  0.293517       2 -1.225848  ...     0       1        0      0
1       -0.440036  0.198164       1  0.117350  ...     0       0        0      1
2       -1.536794  0.293517       8  1.333053  ...     0       1        0      0
3        0.501521  0.007457       1 -1.225848  ...     0       1        0      0
4        2.063884  0.388871       2  0.785728  ...     0       0        0      1
...           ...       ...     ...       ...  ...   ...     ...      ...    ...
9995     1.246488  0.007457       5 -1.225848  ...     1       1        0      0
9996    -1.391939 -0.373958      10 -0.306379  ...     1       1        0      0
9997     0.604988 -0.278604       7 -1.225848  ...     0       1        0      0
9998     1.256835  0.293517       3 -0.022608  ...     1       0        1      0
9999     1.463771 -1.041433       4  0.859965  ...     0       1        0      0

[10000 rows x 13 columns]

In [77]:
y=df['Exited']
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=42)

### Building Keras Model With ANN

In [0]:
model=Sequential()

In [0]:
model.add(Dense(units=7,input_dim=13,activation='relu'))
model.add(Dense(units=7,activation='relu'))
model.add(Dense(units=1,activation='sigmoid'))

In [0]:
model.compile(optimizer='adam',metrics=['accuracy'],loss='binary_crossentropy')

In [82]:
model.summary()

Model: "sequential_11"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_33 (Dense)             (None, 7)                 98
_________________________________________________________________
dense_34 (Dense)             (None, 7)                 56
_________________________________________________________________
dense_35 (Dense)             (None, 1)                 8
=================================================================
Total params: 162
Trainable params: 162
Non-trainable params: 0
_________________________________________________________________

In [83]:
model.fit(x_train,y_train,batch_size=10,epochs=100)

Epoch 1/100
700/700 [==============================] - 1s 2ms/step - loss: 0.5077 - accuracy: 0.7824
Epoch 2/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4442 - accuracy: 0.7990
Epoch 3/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4279 - accuracy: 0.8146
Epoch 4/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4213 - accuracy: 0.8174
Epoch 5/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4182 - accuracy: 0.8216
Epoch 6/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4150 - accuracy: 0.8256
Epoch 7/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4129 - accuracy: 0.8247
Epoch 8/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4100 - accuracy: 0.8254
Epoch 9/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4074 - accuracy: 0.8276
Epoch 10/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4048 - accuracy: 0.8300
Epoch 11/100
700/700 [==============================] - 1s 2ms/step - loss: 0.4032 - accuracy: 0.8276
Epoch 12/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3985 - accuracy: 0.8339
Epoch 13/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3950 - accuracy: 0.8337
Epoch 14/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3913 - accuracy: 0.8387
Epoch 15/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3858 - accuracy: 0.8400
Epoch 16/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3804 - accuracy: 0.8410
Epoch 17/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3757 - accuracy: 0.8444
Epoch 18/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3703 - accuracy: 0.8490
Epoch 19/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3656 - accuracy: 0.8506
Epoch 20/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3589 - accuracy: 0.8540
Epoch 21/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3555 - accuracy: 0.8579
Epoch 22/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3523 - accuracy: 0.8567
Epoch 23/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3495 - accuracy: 0.8596
Epoch 24/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3478 - accuracy: 0.8587
Epoch 25/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8587
Epoch 26/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3454 - accuracy: 0.8606
Epoch 27/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3436 - accuracy: 0.8590
Epoch 28/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3438 - accuracy: 0.8609
Epoch 29/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3422 - accuracy: 0.8606
Epoch 30/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3425 - accuracy: 0.8600
Epoch 31/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3413 - accuracy: 0.8611
Epoch 32/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3421 - accuracy: 0.8599
Epoch 33/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8586
Epoch 34/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8610
Epoch 35/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3414 - accuracy: 0.8599
Epoch 36/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3406 - accuracy: 0.8601
Epoch 37/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8609
Epoch 38/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3403 - accuracy: 0.8619
Epoch 39/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3407 - accuracy: 0.8611
Epoch 40/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3402 - accuracy: 0.8609
Epoch 41/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3389 - accuracy: 0.8613
Epoch 42/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8620
Epoch 43/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8634
Epoch 44/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3391 - accuracy: 0.8607
Epoch 45/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3383 - accuracy: 0.8594
Epoch 46/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3381 - accuracy: 0.8614
Epoch 47/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8611
Epoch 48/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8596
Epoch 49/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3375 - accuracy: 0.8614
Epoch 50/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3374 - accuracy: 0.8613
Epoch 51/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8607
Epoch 52/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8610
Epoch 53/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8611
Epoch 54/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8600
Epoch 55/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3373 - accuracy: 0.8609
Epoch 56/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8624
Epoch 57/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8620
Epoch 58/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8619
Epoch 59/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3367 - accuracy: 0.8590
Epoch 60/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8609
Epoch 61/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8621
Epoch 62/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8610
Epoch 63/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8623
Epoch 64/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8593
Epoch 65/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8611
Epoch 66/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8621
Epoch 67/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8597
Epoch 68/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8601
Epoch 69/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8619
Epoch 70/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8609
Epoch 71/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8620
Epoch 72/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8624
Epoch 73/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8621
Epoch 74/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3356 - accuracy: 0.8590
Epoch 75/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8597
Epoch 76/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8626
Epoch 77/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8596
Epoch 78/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8596
Epoch 79/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8619
Epoch 80/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8613
Epoch 81/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3347 - accuracy: 0.8609
Epoch 82/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8604
Epoch 83/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3358 - accuracy: 0.8621
Epoch 84/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3354 - accuracy: 0.8596
Epoch 85/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8599
Epoch 86/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8613
Epoch 87/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8607
Epoch 88/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8619
Epoch 89/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8627
Epoch 90/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8609
Epoch 91/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8629
Epoch 92/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8620
Epoch 93/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8616
Epoch 94/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3343 - accuracy: 0.8600
Epoch 95/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3338 - accuracy: 0.8624
Epoch 96/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8616
Epoch 97/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3350 - accuracy: 0.8630
Epoch 98/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3352 - accuracy: 0.8606
Epoch 99/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8617
Epoch 100/100
700/700 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8623

In [0]:
from sklearn.metrics import classification_report,confusion_matrix

In [0]:
prediction=model.predict(x_test)
prediction=(prediction>0.5)

In [86]:
confusion_matrix(prediction,y_test)

array([[2324,  313],
       [  92,  271]])

In [87]:
print(classification_report(prediction,y_test))

              precision    recall  f1-score   support

       False       0.96      0.88      0.92      2637
        True       0.46      0.75      0.57       363

    accuracy                           0.86      3000
   macro avg       0.71      0.81      0.75      3000
weighted avg       0.90      0.86      0.88      3000

###  Trying Cross validation to check accuracy

In [0]:
from keras.wrappers.scikit_learn import KerasClassifier

In [0]:
from sklearn.model_selection import cross_val_score

In [0]:
def build_classifier():
   model=Sequential()
   model.add(Dense(units=7,input_dim=13,activation='relu'))
   model.add(Dense(units=7,activation='relu'))
   model.add(Dense(units=1,activation='sigmoid'))  
   model.compile(optimizer='adam',metrics=['accuracy'],loss='binary_crossentropy')
   return model

In [0]:
classifier=KerasClassifier(build_fn=build_classifier,batch_size=25,epochs=100)

In [0]:
accuracy=cross_val_score(estimator=classifier,X=x_train,y=y_train,cv=10,scoring='accuracy')
accuracy.mean()

In [94]:
accuracy.mean()

0.8558571428571428

### Model is 86% accurate